header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 20vw;
    position: fixed;
    /* z-index: 999; */
    border-radius: 0px 0px 16px 16px;
  
    background: radial-gradient(98.05% 261.61% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(21px);
  }
  
  .header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  
  .header-logo img {
    width: 4.166666666666667vw;
    height: auto;
  }
  
  .header-logo h2 {
    font-size: 1.5vw;
    color: #27AE60;
    font-style: normal;
    font-weight: 600;
  }
  
  .header-logo span {
    color: #2F80ED;
  }
  
  .header-logo a {
    text-decoration: none;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    column-gap: 4vw;
  }
  
  .nav-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 41.2109375vw;
    height: 7.631578947368421vh;
  }
  
  .nav-holder ul li a img{
    display: flex;
    flex-direction: row;
    width: 2.0833333333333335vw;
    height: auto;
  }
  
  .nav-holder ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 16vw;
  }
  
  .nav-holder li {
    list-style-type: none;
  }
  
  .homepage-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    column-gap: 1vw;
  }
  
  .avatar-header-navbar img {
    width: 2.9vw;
    height: auto;
    display: flex;
    align-items: center;
  }
  
  .line-between-nav img{
    height: 4vh;
  }
  
  .homepage-profile p{
    font-size: 1.2vw;
    color: #333333;
    font-weight: 600;
    width: 16vw;
  }