/* Niet aan deze codes zitten!!!!!!!! */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html{
    scroll-behavior: smooth;
  }
  

  body{
    width: 100% ;
    /* display: flex;
    justify-content: center; */
  }
  .main{
  }
  .hero{
  }
  
  .hero h2{
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  .background-hero{
    width: 1700vw;
  }

  .section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-1-txt{
  /* column-gap: 32px; */
  }
  .section-1 h3{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  }
  .section-1 p{
  max-width: 555px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  }
  .section-1 img{
    
  }