* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}




/* :root {
  --primaryColor: #ed242e;
  --secondaryColor:#0a2133;
} */

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
/* background-color: #000; */
}

/* header STRAT */

header {
  width: 100%;
  height: 100px;
  background: radial-gradient(98.05% 261.61% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(21px);
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
}
.fontawesomelogin{
  margin-top: -8px;
}

header ul{
  width: 240px;
  column-gap: 24px;
}


/* .header-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 20px;
} */

/* logo style */

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 24px;
}

.logo img {
  width: 64px;
}

.logo h2 {
color: #2F80ED;
font-style: normal;
font-weight: 600;
font-size: 24px;
}
.logo span{
  color:#27AE60;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

/* nav */
.navbar-area {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 48px;
  border: 1px none #ffffff;
  margin-right: 30px;
  background: radial-gradient(98.05% 261.61% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(21px);
  border-radius: 16px;
  }



.nav-holder ul {
  width: 100%;
  list-style: none;
  /* display: flex;
  justify-content: space-between; */
}


.nav-holder ul li {
  /* display: inline-block; */
  /* padding: 5px 10px; */


  font-size: 32px;
  position: relative;
}
.nav-holder img{
  width: 32px;
}

.nav-holder ul li a {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}

/* .nav-holder ul li::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 20px;
  /* border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-radius: 24px;
  background-color: #000;
  left: 0;
  top: 0;
  transition: 0.5s;
  opacity: 0;
} */




/* profile style */

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}

.profile img {
  width: 40px;
  border-radius: 50%;
  align-items: center;
}

/* .profile img:hover {
  transition: 0.6s;
  width: 50px;
} */

/* Login START */

main {
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  padding: 70px 50px;
  box-shadow: 0px 10px 10px rgba(0.1);
}

label {
  display: block;
  padding-left: 25px;
}

.wrapper input
{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  padding-left: 30px;
  margin: 10px 0;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.inlog-img {
  width: 300px;
}

.button { 
  cursor: pointer;
  background: linear-gradient(315deg, #3f3e3e 30%, #e2e2e2 60%);
}



/* Start create pagina */

.create-form {
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  padding-top: 30px;
  width: 100%;
  margin: auto;
  background-color: #3f3e3e;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-form form {
  padding-top: 20px;
  border-radius: 30px;
  width: 30%;
  height: 85%;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px
}

.row-group {
  margin-bottom: 30px;
  position: relative;
}

.row-group input, select {
    width: 100%;
    padding:10px;
    background: transparent;
    font-size: 15px;
    border-radius: 10px;
}

.row-group label {
  height: 100%;
  padding: 10px;
  cursor:text;
  transition: 0.2s;
}

#submit {
  padding: 10px 0 ;
  background: transparent;
  width: 50%;
  cursor: pointer;
  margin: 20px;
}

textarea {
  width: 70%;
  padding:10px;
  background: transparent;
  font-size: 15px;
  border-radius: 10px;
}

/* scurm page START */

/* Task home STRAT */

.content-area {
  height: calc(90vh - 56px);
  display: flex;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  /* justify-content: center; */
}

aside {
  height: 100%;
  width: 200px;
  background-color: #ffffff;
  overflow-y: auto;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-right: 15px;
}

nav a {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: black;
  margin-left: 15px;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 400;
  color: #030303;
  border-radius: .5rem;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.container {
  height: 12vh;
}

.container h1 {
  text-align: center;
}

/* .container h1 span {
  font-size: 15px;
  font-weight: 200;
  text-align: start;
  margin-left: 20px; ;
} */

.container a {
  border: 1px solid #000;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  padding: 10px;
  text-decoration: none;
  color: #000;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  width: 15%;
  border-radius: .5rem;
}

h5 {
  font-family: monospace;
  font-size: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  text-align: center;
  padding-top: 20px;
}

.row-container {
  padding-top: 30px;
  width: 100%;
  display: flex;
  overflow-x: auto;
  height: 100%;
  justify-content: space-around;

}

.row-card {
  text-align: center;
  background-color: #ffffff;
  height: 70vh;
  padding-top: 20px;
  width: 300px;
  border-radius: .5rem;
  font-size: 16px; 
}

.card-holder {
  min-height: 300px;
}

#first-row {
  background-color: #efefef;
}

#second-row {
  background-color: #e7e87c;
}

#third-row {
  background-color: #b0d0b0;
}

.card {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  padding: 30px 200px 20px 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.edit-link {
  padding: 2px;
  text-align: center;
  border: 1px solid #000;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;
}

/* Css setting pagina start */

.formSetting {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  padding: 70px 50px;
  box-shadow: 0px 10px 10px rgba(0.1);
  
}
.formSetting input{
  width: 50%;
    height: 50px;
    /* border: none; */
    border-radius: 50px;
    padding-left: 30px;
    margin: 10px 0;
    align-items: center;
}
/* 
.formlabelsetting {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.formsettinginput[type="text"],
.formsettinginput[type="email"],
.formsettinginput[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.formSettingButton[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
.buttonSetting  {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  padding-left: 30px;
  margin: 10px 0;
  cursor: pointer;
  background: linear-gradient(315deg, #3f3e3e 30%, #e2e2e2 60%);

} */
