/* :root {
  --primaryColor: #ed242e;
  --secondaryColor:#0a2133;
} */

body {
  width: 100%;
}

/* header STRAT */

header {
  width: 100%;
  background-color: #9FEEFF;
}

.header-area {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 20px;
}

/* logo style */

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 240px;
}

/* h2 {
  font-weight: 800;
  font-size: 30px;
  font-family: 'Cookie', cursive;
} */

/* nav */
.navbar-area {
  display: flex;
  justify-content: space-around;
  width: 30%;
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin-right: 30px;
  background-color: #ffffff;
}

.nav-holder {
  width: 40%;
}

.nav-holder ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}


.nav-holder ul li {
  /* display: inline-block; */
  padding: 5px 10px;
  font-size: 24px;
  position: relative;
}

.nav-holder ul li a  {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}

.nav-holder ul li::before {
  position: absolute;
  content:"" ;
  width: 40px;
  height: 20px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  left: 0;
  top: 0;
  transition: 0.5s;
  opacity: 0;
}

.nav-holder ul li::after {
  position: absolute;
  content:"" ;
  width: 40px;
  height: 20px;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  opacity: 0;
}

.nav-holder ul li:hover::before {
  left: -10px;
  top: -10px;
  opacity: 1;
  cursor: pointer;
}

.nav-holder ul li:hover::after {
  right: -10px;
  bottom: -10px;
  opacity: 1;
  cursor: pointer;
}


/* profile style */

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}

.profile img {
  width: 40px;
  border-radius: 50%;
  align-items: center;
}

.profile img:hover {
  transition: 0.6s;
  width: 50px ;
}

/* Login START */

main {
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 500px;
  display: flex;
  flex-direction: column ;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  padding: 70px 50px;
  box-shadow: 0px 10px 10px rgba(0.1);
}

label {
  display: block;
  padding-left: 25px;
}

input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  padding-left: 30px;
  margin: 10px 0;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.inlog-img {
  width: 300px;
}

.button {
  cursor: pointer;
  background: linear-gradient(315deg, #3f3e3e 30%, #e2e2e2 60%);
}
